<section id="projects">
<div class="container">
  <h3>My Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://gocholaw.com">Gocho & Company Advocates</a></strong>
		<h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://www.virtualcity.co.ke/">Virtual City</a></strong>
		<h5>	
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="http://codesink.github.io">CodeSink Distributed Developers</a></strong>
		</h5>
        	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="http://gochojr.github.io">A Web developers blog</a></strong>
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="https://github.com/GochoMugo/msu">msu</a></strong>
		
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://misscarolinakangai.github.io">Miss Carolina Kangai</a></strong>
		
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="http://gochojr.github.io/Tiramisu">Tiramisu</a></strong>
		</h5>
		<h5>
			<i class="fa fa-download"></i>&nbsp;&nbsp;<strong><a href="https://bitbucket.org/Gochojr/wrench">wrench</a></strong>
		</h5>
	
    </div>
  </div>
</div>
</section>
