<div class="social">
	<link rel="stylesheet" href="/css/academicons.min.css"/>
	<h4>
<!--    {% if site.github %}
	  <a href="http://github.com/{{ site.github }}"><i class="fa fa-github"></i></a>
    {% endif %} -->
    {% if site.email %}
	  <a href="mailto:{{ site.email}}"><i class="fa fa-envelope"></i></a>
    {% endif %}

    {% if site.scholar %}
	  <a href="http://twitter.com/{{ site.scholar }}"><i class="ai ai-google-scholar-square ai-3x"></i>
		<!--  <i class="fa fa-scholar"></i></a> -->
    {% endif %}
    {% if site.linkedin %}
	  <a href="https://www.linkedin.com/in/alma-eguizabal-863504127/{{ site.linkedin }}"><i class="fa fa-linkedin"></i></a>
    {% endif %}
    {% if site.researchgate %}
	  <a href="http://stackoverflow.com/{{ site.researchgate }}"><i class="fa fa-researchgate"></i></a>
    {% endif %}
	</h4>
</div>
