<div class="social">
	<h4>
    {% if site.github %}
	  <a href="http://github.com/{{ site.github }}"><i class="fa fa-github"></i></a>
    {% endif %}
    {% if site.email %}
	  <a href="mailto:{{ site.email}}"><i class="fa fa-envelope"></i></a>
    {% endif %}

    {% if site.twitter %}
	  <a href="http://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter"></i></a>
    {% endif %}
    {% if site.linkedin %}
	  <a href="http://linkedin.com/in/{{ site.linkedin }}"><i class="fa fa-linkedin"></i></a>
    {% endif %}
	</h4>
</div>
