<div class="social">
	<!-- <link rel="stylesheet" href="/css/academicons.min.css"/> -->
	<link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">  
	<h4>
<!--    {% if site.github %}
	  <a href="http://github.com/{{ site.github }}"><i class="fa fa-github"></i></a>
    {% endif %} -->
    {% if site.email %}
	  <a href="mailto:{alma.eguizabal@ieee.org}"><i class="fa fa-envelope"></i></a>
    {% endif %}

    {% if site.google-scholar %}
	  <a href="https://scholar.google.com/citations?user=uc455YgAAAAJ&hl=en{{ site.google-scholar }}"><i class="ai ai-google-scholar"></i></a> 
		<!--  <i class="fa fa-scholar"></i></a> --> 
    {% endif %}
    {% if site.linkedin %}
	  <a href="https://www.linkedin.com/in/alma-eguizabal-863504127/{{ site.linkedin }}"><i class="fa fa-linkedin"></i></a>
    {% endif %}
    {% if site.researchgate %}
	  <a href="https://www.researchgate.net/profile/{{ site.researchgate }}"><i class="ai ai-researchgate"></i></a>
    {% endif %}
	</h4>
</div>
