@import "syntax";



$theme-color: #5BB66F;
$text-color: #3F4650;
$text-color-secondary: #545E6C;
$text-grey: #97AAC3;
$divider: #e8e8e8;
$lighter-grey: #ccc;
$darker-grey: #666;
$smoky-white: #f5f5f5;
$heart: #fb866a;



html,
body {
  height: 100%;
  background-color: $smoky-white;
  font-family: 'Source Sans Pro', sans-serif;
  /* The html and body elements cannot have any padding or margin. */
  border-top: 3px solid #27A822;
}
/* Wrapper for page content to push down footer */
#wrap {
  padding-bottom: 50px;
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -65px;
  /* Pad bottom by footer height */
  /*padding: 0 0 60px;*/
}

/* Navbar
-------------------------------------------------- */

.navbar-static-top {
  margin-bottom: 10px;
}
.navbar-default {
  background-color: $smoky-white;
  border-color: $smoky-white;

  .navbar-brand {
    color: #6b6b6b
  }

  .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #6b6b6b;
  }

  .navbar-text {
    color: #6b6b6b;
  }

  .navbar-nav > li > a {
    color: #6b6b6b;
  }

  .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #6b6b6b;
  }

  .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #6b6b6b;
    background-color: #ffffff;
  }

  .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #6b6b6b;
    background-color: #ffffff;
  }

  .navbar-toggle {
    border-color: #ffffff;
  }

  .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
  }

  .navbar-toggle .icon-bar {
    background-color: #6b6b6b;
  }

  .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #6b6b6b;
  }

  .navbar-link {
    color: #6b6b6b;
  }

  .navbar-link:hover {
    color: #6b6b6b;
  }
}



@media (max-width: 767px) {
  .navbar-default {
    .navbar-nav .open .dropdown-menu > li > a {
      color: #6b6b6b;
    }

    .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #6b6b6b;
    }

    .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #6b6b6b;
      background-color: #ffffff;
    }
  }
}

/* Custom page CSS
-------------------------------------------------- */

.container {
  max-width: 800px;
  text-align: center;

  .text-muted {
    margin: 20px 0;
  }

  a {
    color: #27A822;
  }

  a:hover {
    color: #267723;
  }
}

.img-responsive {
 display: block;
 height: auto;
 max-width: 100%;
}
.panel-default {
  h4 {
    text-align: left;
    line-height: 24px;
    font-size: 22px;
  }

  h5 {
    text-align: left;
    line-height: 30px;
    font-size: 18px;
  }

  h6 {
    font-size: 15px;
  }

  h4 a, h5 a {
    color: #27A822;
  }

  h4 a:hover, h5 a:hover {
    color: #267723;
  }
}

.panel{
  border-style: none;
}
.panel-body {
  padding-top: -10px;
  text-align: left;
}
.social {
  padding-top: 12px;
  word-spacing: 25px;

  h4 > a {
    color: #000000;
  }
}
.avatar {
  padding-top: 5%;
}
.blog-post{
  padding-top: 15px;
}
.blog-title{
  padding-top: 2px;
}
.related-posts h4 {
  text-align: center;
}
.page-not-found {
  padding-top: 20%;
}
.disqus {
  padding-bottom: 15px;
}

.blogpost{
  text-align: left;
  line-height: 30px;
  font-size: 18px;
}

/* Footer
-------------------------------------------------- */

.footer {
  text-decoration: none !important;
}
.text-muted {
	color: #6b6b6b;
}
div.footer{
  border-bottom: 5px solid #27A822;;
}
/* Set the fixed height of the footer here */
/*.footer {
  height: 50px;
  padding-bottom: 15px;

}*/
