<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MSc in Advanced Computing</h1>
            <span>University of Glasgow</span>
            <span><address>Glasgow, UK</address><time>2011 to 2012</time></span>
        </header>
        <p>
            <em>Thesis: Nemore verear an eos, duo accusam placerat urbanitas at, vix libris putent voluptaria ei.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Major in Computer Science</h1>
            <span>University of College London</span>
            <span><address>London, UK</address><time>2007 to 2011</time></span>
        </header>
        <p>
            <em>Dissertation: Te dicit scripta nec, nec illud decore partem et.</em>
        </p>
    </article>
</section>
